/* Made by Raphael Rocha da Silva. 2015-2018. 
 * raphsilva.github.io */

<style>
mobile
* {
 font-size: 100%;
 font-family: carlito;
}
#first{
}

header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
#section {
/* 	width:900px; */
    float:left;
    
    background-color:#BBBBBB;
    padding:10px; 
    padding-top:50px; 
	font-family: carlito;
	line-height: 120%;
}
#header {
    background-color:#DDDDDD;
    float:center;
    padding:10px; 
	font-family: carlito;
	line-height: 150%;
}
#footer {
/* 	width:1000px; */
    float:center;
    color:gray;
    clear:both;
    text-align:center;
    padding:3px;
	font-size: 14;
        font-family: Arial;
}

h1 { 
    display: block;
    font-size: 2em;
    line-height: 102%;
    margin-top: 0.67em;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
	text-align: center;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
	padding-top: 0.4em;
	border-top: thick double #737373;
}

h3 { 
    display: block;
    font-size: 1.1em;
    margin-top: 1em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

p {
	font-size: 1em;
	margin-top: 1.3em;
    margin-bottom: 1.3em;
    margin-left: 0;
    margin-right: 0;
}

/*desc {
	font-size: .96em;
	line-height: 100%;
	display:inline-block;
	margin-left: 0em;*/

/* } */

desc {
    font-size: 90%;
    line-height: 110%;
    display:inline-block;
    margin-left: 0em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    text-align: justify;

}


originallang {
    font-size: 95%;
    line-height: 100%;
    color: #624c66;
    display:inline-block;
    margin-top: -.20em;
    
    
    
}



emoji {
  color: transparent;  
  text-shadow: 0 0 0 back;
  width: 1.3em;
  max-width: 2em;
  display: inline-block;
}

br {
            display: block; /* makes it have a width */
            content: ""; /* clears default height */
            margin-top: .5em; /* change this to whatever height you want it */
}



</style>


/* Made by Raphael Rocha da Silva. 2015. 
 * raphael.neocities.org */