/* Made by Raphael Rocha da Silva. 2015-2018. 
 * raphsilva.github.io */


tab0  { &ensp;   }



<style>




@font-face {
   font-family: 'Carlito'; 
   font-weight: bold; 
   src: url('fonts/Carlito-Bold.ttf') format('truetype');
}

@font-face {
   font-family: 'Carlito';   
   src: url('fonts/Carlito-Regular.ttf') format('truetype');
}




/*tab1  { position:absolute;left:50px;  }
tab2  { position:absolute;left:75px;  }*/


#first{
}

* {
   font-size: 18px;
   line-height: 125%;
}

#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
#section {
    width:auto;
    max-width:880px;
    border-top-style: groove;
    float:left;
    padding:10px;
    padding-top:50px;
    margin-left: 50px;
    font-family: Carlito, Arial, sans;
    line-height: 140%;
	
}


#section:before {
  content: "R A P H A E L \00a0 R O C H A  \00a0 D A  \00a0 S I L V A";
  font-weight: bold;
  color: gray;
  margin-top: -4em;
  margin-bottom: 2em;
  display: block;
  text-align: justify;
  max-width: 880px;
  
  text-align-last: justify;
  text-justify: inter-character;
}

#header {
    width:900px;
    float:center;
    padding:15px; 
    padding-left: 20px;
    font-family: Carlito, Arial, sans;
    line-height: 150%;
    margin-bottom: 2em;
}

#footer {
    float:left;
    width: 880px;
    max-width: 100vw;
    color:gray;
    clear:both;
    text-align:center;
    padding:3px;
    font-size: 12pt; 
}

h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    padding-top: 0.4em;
    border-top: thick double #737373;
    
}

h3 { 
    display: block;
    font-size: 1.1em;
    margin-top: 1em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

p {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}

desc {
    font-size: 90%;
    line-height: 110%;
    display:inline-block;
    margin-left: 0em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    width: 50em;
    text-align: justify;    
}

text {
    font-size: 98%;
    line-height: 125%;
    display:inline-block;
    margin-left: 0.0em;
    margin-top: 0.0em;
    margin-bottom: 0.0em;
    width: 46em;
    text-align: justify;
}
text p {
    font-size: 98%;
    line-height: 125%;
    margin-top: .6em;
    margin-bottom: .6em;
}


originallang {
    font-size: 95%;
    line-height: 100%;
    color: #624c66;
    display:inline-block;
    margin-top: -.20em;
    
    
    
}



emoji {
/*  color: transparent;  
  text-shadow: 0 0 0 black;
/*   margin-right: .5em; */
  width: 1.3em;
  max-width: 2em;
  display: inline-block;
  text-align: center;*/
}



br {
            display: block; /* makes it have a width */
            content: ""; /* clears default height */
            margin-top: .1em; /* change this to whatever height you want it */
}



/* unvisited link */
a:link {
    color: black;
    text-decoration-color: #adc9f4;
/*     text-decoration-style: dotted; */
}

/* visited link */
a:visited {
    color: black;
    text-decoration: lightgray;
    text-decoration-style: dotted;
}

/* mouse over link */
a[href]:hover {
    color: blue;
}

/* selected link */
a[href]:active {
    color: red;
}


</style>


/* Made by Raphael Rocha da Silva. 2015-2018. 
 * raphsilva.github.io */
